/* цвет вторичного текста #212121; */
/* цвет основного текста #757575; */
/* акцент #2196F3;*/
/* цвет адреса rgba(255, 255, 255, 0.6); */
/* цвет основного фона #FFFFFF; */
/* цвет logo #000000 */
/* цвет фона героя и подвала #2F303A; */
/* цвет фона кнопки и команды# F5F4FA; */
/* цвет фона кнопки героя 188CE8; */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --accent-white-color: rgba(255, 255, 255, 0.6);
  --primary-white-color: #ffffff;
  --bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --logo-text-color: #000000;
  --button-bg-color: #188ce8;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  width: 1200px;
}

body {
  margin: 0;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  font-family: 'Roboto', sans-serif;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
.logo {
  color: var(--logo-text-color);
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03em;
}

.logo span {
  color: var(--accent-color);
}

/* site nav */
.page-header .container. {
  display: flex;
}

.site-nav {
  display: flex;
}
.site-nav .item {
  margin-right: 50px;
}
.site-nav .item:last-child {
  margin-right: 0;
}
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus,
.link.current {
  color: var(--accent-color);
}

/* contacts */

.contacts {
  display: flex;
}

.contacts .item + .item {
  margin-left: 50px;
}

.contacts .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

/* hero */
.hero {
  padding: 200 0px;

  background-color: var(--footer-bg-color);
  text-align: center;
}
.hero-title {
  margin-bottom: 30px;

  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* section */

.section-title {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.feature .title {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.feature .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.team {
  background-color: var(--bg-color);
}
.team .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19px;
  letter-spacing: 0.03em;
}
/* address*/
.footer {
  background-color: var(--footer-bg-color);
}

.address {
  color: var(--primary-white-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer .logo {
  margin-bottom: 20px;
  color: var(--primary-white-color);
}

.address .link {
  color: var(--accent-white-color);
  text-decoration: none;
}

.address .link:hover,
.address .link:focus {
  color: var(--accent-color);
}
/* buttons */
.btn {
  border-radius: 4px;
  padding: 6px 22px;
  border: 0px;

  color: var(--title-text-color);
  background-color: var(--bg-color);
  cursor: pointer;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
}

.btn:hover,
.btn:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.hero .btn {
  display: inline-block;
  padding: 10px 32px;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;

  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.hero .btn:hover,
.hero .btn:focus {
  background-color: var(--button-bg-color);
}

/* portfolio */
.project .title {
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project .text {
  color: var(--primary-text-color);
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.project .link {
  text-decoration: none;
}
